In [10]:
import pandas as pd

brands = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/brands.csv')
categories = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/categories.csv')
customers = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/customers.csv')
order_items = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/order_items.csv')
orders = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/orders.csv')
products = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/products.csv')
staffs2 = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/staffs2.csv')
stocks = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/stocks.csv')
stores = pd.read_csv('/Users/daviddechantsreiter/Desktop/Database 2.0/Data/stores.csv')

all_data = [brands, 
            categories,
            customers,
            order_items,
            orders,
            products,
            staffs2,
            stocks,
            stores]

In [12]:
staffs2.dtypes

staff_id        int64
first_name     object
last_name      object
email          object
phone          object
active          int64
store_id        int64
manager_id    float64
dtype: object

In [ ]:
for df in all_data:
    print(df.dtypes)
    print('\n')

In [5]:
staffs2['manager_id'] = staffs2['manager_id'].astype('Int64')

In [7]:
staffs2.dtypes

staff_id       int64
first_name    object
last_name     object
email         object
phone         object
active         int64
store_id       int64
manager_id     Int64
dtype: object

In [9]:
output_path = '/Users/daviddechantsreiter/Desktop/Database 2.0/Data/staffs2.csv'
staffs2.to_csv(output_path, index=False)

In [14]:
orders

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6
...,...,...,...,...,...,...,...,...
1610,1611,6,3,2018-09-06,2018-09-06,NaN,2,7
1611,1612,3,3,2018-10-21,2018-10-21,NaN,1,3
1612,1613,1,3,2018-11-18,2018-11-18,NaN,2,6
1613,1614,135,3,2018-11-28,2018-11-28,NaN,3,8
1614,1615,136,3,2018-12-28,2018-12-28,NaN,3,8